#define COMBO_LAY_BASE(LAYERS, NAME, BINDINGS, KEYPOS, TIMEOUT) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
    timeout-ms = <TIMEOUT>; \
};

#define COMBO_ANY_ONE_HAND(NAME, BINDINGS, KEYPOS) \
  COMBO_LAY_BASE(l_all_except_winpc_lock, NAME, BINDINGS, KEYPOS, my_combo_timeout_one_hand)
#define COMBO_ANY_TWO_HAND(NAME, BINDINGS, KEYPOS) \
  COMBO_LAY_BASE(l_all_except_winpc_lock, NAME, BINDINGS, KEYPOS, my_combo_timeout_two_hands)

#define COMBO_LAY_ONE_HAND(LAYERS, NAME, BINDINGS, KEYPOS) \
  COMBO_LAY_BASE(LAYERS, NAME, BINDINGS, KEYPOS, my_combo_timeout_one_hand)
#define COMBO_LAY_TWO_HAND(LAYERS, NAME, BINDINGS, KEYPOS) \
  COMBO_LAY_BASE(LAYERS, NAME, BINDINGS, KEYPOS, my_combo_timeout_two_hands)

#define COMBO_LCK_TWO_HAND(NAME, BINDINGS, KEYPOS) \
  COMBO_LAY_BASE(l_all_except_winpc_lock l_winpc l_lock, NAME, BINDINGS, KEYPOS, my_combo_timeout_two_hands) // These combos work on any layers, EVEN the Lock layer!
