#define STRINGIFY(ARG) #ARG


#define REPLACE_CHAR_WITH_BIGRAM(BIGRAM_0, BIGRAM_1) \
        replace_char_with_bigram_##BIGRAM_0##BIGRAM_1: replace_char_with_bigram##BIGRAM_0##BIGRAM_1 { \
                label = STRINGIFY(flo-macro-replace-char-with-bigram-##BIGRAM_0##BIGRAM_1); \
                compatible = "zmk,behavior-macro"; \
                #binding-cells = <0>; \
                wait-ms = <0>; \
                tap-ms = <10>; \
                bindings = \
                        <&kp BACKSPACE>, \
\
                        <&kp BIGRAM_0>, \
\
                        <ak_##BIGRAM_1>; \
        };


#define SWITCH_DEVICE_MACRO(DEVICE_NAME, DEVICE_IDX, LAYER) \
        ZMK_MACRO(to##DEVICE_NAME, \
                wait-ms = <0>; \
                tap-ms = <0>; \
                bindings = <&bt BT_SEL DEVICE_IDX>, \
                        <&to LAYER>; \
        )
