aksl: aksl {
    compatible = "zmk,behavior-sticky-key";
    label = "flo,behavior-adaptive-key-sticky-layer";
    #binding-cells = <1>;
    release-after-ms = <my_ak_window>;
    bindings = <&mo>;
    // We are NOT using 'quick-release', that way the ak layer won't be deactivated until
    // the next &kp releases. Which means the next ak_layer will be activated immediately!
};

blt: blt {
    compatible = "zmk,behavior-hold-tap";
    label = "flo,behavior-buffered-layer-tap";
    #binding-cells = <2>;
    flavor = "tap-preferred";
    tapping-term-ms = <my_tapping_term>;
    bindings = <&mo>, <&bk>;
};

bksl: bksl {
    compatible = "zmk,behavior-hold-tap";
    label = "flo,behavior-buffered-key-sticky-layer";
    #binding-cells = <2>;
    flavor = "tap-preferred";
    tapping-term-ms = <my_tapping_term>;
    bindings = <&sl>, <&bk>;
};

bsklt: bsklt {
    compatible = "zmk,behavior-hold-tap";
    label = "flo,behavior-buffered-sticky-key-layer-tap";
    #binding-cells = <2>;
    flavor = "tap-preferred";
    tapping-term-ms = <my_tapping_term>;
    bindings = <&mo>, <&bsk>;
};
