/*********** TMP EXPERIMENT **************/
// COMBO_LAY_TWO_HAND(l_alpha_aks, stickyShift,     &sk LSHIFT,                                    LT1           RT1             ) // Sticky Shift
// COMBO_LAY_TWO_HAND(l_alpha_aks, stickyShift2,    &sk LSHIFT,                        LM4                                   RM4 ) // Sticky Shift
// COMBO_LAY_TWO_HAND(l_alpha_aks, stickyShift3,    &sk LSHIFT,                                    LM1           RM1             ) // Sticky Shift