COMBO_LAY_TWO_HAND(l_winpc,     typeQ_win,           &lk_qu Q U,                                    LB1           RB1             )
COMBO_LAY_TWO_HAND(l_winpc,     typeZ_win,           &bk Z,                                 LM3                           RM3     )
COMBO_LAY_ONE_HAND(l_winpc,     entr_win,            &bk RETURN,                                    LB1 LB0                       )
COMBO_LAY_ONE_HAND(l_winpc,     tab_win,             &bk TAB,                                       LM1 LM0                       )
COMBO_LAY_ONE_HAND(l_winpc,     esc_win,             &bk ESC,                           LM4         LM1                           )
COMBO_LAY_ONE_HAND(l_winpc,     undo_win,            &bk LC(Z),                         LT4 LT3                                   )
COMBO_LAY_ONE_HAND(l_winpc,     bspc_win,            &bk BSPC,                                                    RM1 RM2         )
COMBO_LAY_ONE_HAND(l_winpc,     del_win,             &bk DEL,                                                         RM2 RM3     )
COMBO_LAY_ONE_HAND(l_winpc,     delWord_win,         &bk LC(BSPC),                                                RM1 RM2 RM3     )
COMBO_LAY_ONE_HAND(l_winpc,     typeExcl_win,        &bk EXCL,                                                    RT1 RT2         )
COMBO_LAY_ONE_HAND(l_winpc,     typeQues_win,        &bk QMARK,                                                       RT2 RT3     )
COMBO_LAY_ONE_HAND(l_winpc,     typeGrav_win,        &bk GRAVE,                                                           RT3 RT4 )
COMBO_LAY_ONE_HAND(l_winpc,     typeSemi_win,        &bk SEMI,                                                    RM1         RM4 )
COMBO_LAY_TWO_HAND(l_winpc,     docaps_win,          &caps_word,                                LM2 LM1           RM1 RM2         )
COMBO_LAY_ONE_HAND(l_winpc,     settings_win,        &mo l_cfg,                                                   RH1 RH2         )
COMBO_LAY_ONE_HAND(l_winpc,     sch_win,             &Sch,                              LM4 LM3 LM2                               )
COMBO_LAY_ONE_HAND(l_winpc,     tch_win,             &Tch,                                  LM3 LM2 LM1                           )
COMBO_LAY_ONE_HAND(l_winpc,     th_win,              &lk_th H T,                                LM2 LM1                           )
COMBO_LAY_ONE_HAND(l_winpc,     ch_win,              &Ch,                                   LM3 LM2                               )
COMBO_LAY_ONE_HAND(l_winpc,     wh_win,              &Wh,                                   LT3 LT2                               )
COMBO_LAY_ONE_HAND(l_winpc,     sh_win,              &lk_sh H S,                        LM4 LM3                                   )
COMBO_LAY_ONE_HAND(l_winpc,     gh_win,              &lk_gh H G,                                LT2 LT1                           )
COMBO_LAY_ONE_HAND(l_winpc,     ph_win,              &Ph,                                   LB3 LB2                               )
COMBO_LAY_ONE_HAND(l_winpc,     oh_win,              &Oh,                                                         RB1 RB2         )
COMBO_LAY_ONE_HAND(l_winpc,     pnI_win,             &typePnI,                                                            RM3 RM4 )
COMBO_LAY_TWO_HAND(l_winpc,     pnIm_win,            &typePnIm,                                 LT2                               \
                                                                                                                          RM3     )
COMBO_LAY_TWO_HAND(l_winpc,     pnIll_win,           &typePnIll,                                                          RM3     \
                                                                                                LB2                               )
COMBO_LAY_TWO_HAND(l_winpc,     pnId_win,            &typePnId,                                                           RM3     \
                                                                                                    LB1                           )
COMBO_LAY_TWO_HAND(l_winpc,     pnIve_win,           &typePnIve,                                                          RM3     \
                                                                                                        LB0                       )
