COMBO_LAY_TWO_HAND(l_alpha_linwin,     typeQ_linwin,           &lk_qu Q U,                                    LB1           RB1             )
COMBO_LAY_TWO_HAND(l_alpha_linwin,     typeZ_linwin,           &bk Z,                                 LM3                           RM3     )
COMBO_LAY_ONE_HAND(l_alpha_linwin,     space_linwin,           &bk SPACE,                                     LT1 LT0                       )
COMBO_LAY_ONE_HAND(l_alpha_linwin,     entr_linwin,            &bk RETURN,                                    LM1 LM0                       )
COMBO_LAY_ONE_HAND(l_alpha_linwin,     entr_linwin2,           &bk RETURN,                                              RM0 RM1             )
COMBO_LAY_ONE_HAND(l_alpha_linwin,     tab_linwin,             &bk TAB,                                       LB1 LB0                       )
COMBO_LAY_NON_ADJC(l_alpha_linwin,     esc_linwin,             &bk ESC,                               LM3     LM1                           )
COMBO_LAY_ONE_HAND(l_alpha_linwin,     esc_linwin2,            &bk ESC,                                   LB2 LB1                           )
COMBO_LAY_ONE_HAND(l_alpha_linwin,     undo_linwin,            &bk LC(Z),                         LB4 LB3                                   )
COMBO_LAY_ONE_HAND(l_alpha_linwin,     bspc_linwin,            &bk BSPC,                                                    RM1 RM2         )
COMBO_LAY_ONE_HAND(l_alpha_linwin,     del_linwin,             &bk DEL,                                                         RM2 RM3     )
COMBO_LAY_NON_ADJC(l_alpha_linwin,     delWord_linwin,         &bk LC(BSPC),                                                RM1 RM2 RM3     )
COMBO_LAY_ONE_HAND(l_alpha_linwin,     typeExcl_linwin,        &bk EXCL,                                                    RT1 RT2         )
COMBO_LAY_ONE_HAND(l_alpha_linwin,     typeQues_linwin,        &bk QMARK,                                                       RT2 RT3     )
COMBO_LAY_ONE_HAND(l_alpha_linwin,     typeGrav_linwin,        &bk GRAVE,                                               RT0 RT1             )
COMBO_LAY_ONE_HAND(l_alpha_linwin,     magicBracketsL_linwin,  &MagicBracketsL,                                             RB1 RB2         )
COMBO_LAY_ONE_HAND(l_alpha_linwin,     magicBracketsR_linwin,  &MagicBracketsR,                                                 RB2 RB3     )
COMBO_LAY_ONE_HAND(l_alpha_linwin,     logseqPageRef_linwin,   &logseqPageRef,                                              RB1 RB2 RB3     )
COMBO_LAY_ONE_HAND(l_alpha_linwin,     magicArrowLCb_linwin,   magicArrowL,                                             RB0 RB1             )
COMBO_LAY_ONE_HAND(l_alpha_linwin,     magicArrowRCb_linwin,   magicArrowR,                                                         RB3 RB4 )
COMBO_LAY_TWO_HAND(l_alpha_linwin,     docaps_linwin,          &caps_word,                                    LH1           RH1             )
COMBO_LAY_ONE_HAND(l_alpha_linwin,     settings_linwin,        &mo l_cfg,                                                   RH1 RH2         )
COMBO_LAY_ONE_HAND(l_alpha_linwin,     pnI_linwin,             &typePnI,                                                            RM3 RM4 )
COMBO_LAY_TWO_HAND(l_alpha_linwin,     pnIm_linwin,            &typePnIm,                                 LT2                               \
                                                                                                                          RM3     )
COMBO_LAY_TWO_HAND(l_alpha_linwin,     pnIll_linwin,           &typePnIll,                                                          RM3     \
                                                                                                LB2                               )
COMBO_LAY_TWO_HAND(l_alpha_linwin,     pnId_linwin,            &typePnId,                                                           RM3     \
                                                                                                    LB1                           )
COMBO_LAY_TWO_HAND(l_alpha_linwin,     pnIve_linwin,           &typePnIve,                                                          RM3     \
                                                                                                        LB0                       )
COMBO_LAY_ONE_HAND(l_alpha_linwin,     sch_linwin,             &Sch,                              LM4 LM3 LM2                               )
COMBO_LAY_ONE_HAND(l_alpha_linwin,     tch_linwin,             &Tch,                                  LM3 LM2 LM1                           )
COMBO_LAY_ONE_HAND(l_alpha_linwin,     th_linwin,              &lk_th H T,                                LM2 LM1                           )
COMBO_LAY_ONE_HAND(l_alpha_linwin,     ch_linwin,              &Ch,                                   LM3 LM2                               )
COMBO_LAY_ONE_HAND(l_alpha_linwin,     wh_linwin,              &Wh,                                   LT3 LT2                               )
COMBO_LAY_ONE_HAND(l_alpha_linwin,     sh_linwin,              &lk_sh H S,                        LM4 LM3                                   )
COMBO_LAY_ONE_HAND(l_alpha_linwin,     gh_linwin,              &lk_gh H G,                                LT2 LT1                           )
COMBO_LAY_ONE_HAND(l_alpha_linwin,     ph_linwin,              &Ph,                                   LB3 LB2                               )
