#define SWITCH_DEVICE_MACRO(DEVICE_NAME, DEVICE_IDX, LAYER) \
        ZMK_MACRO(to##DEVICE_NAME, \
                wait-ms = <0>; \
                tap-ms = <0>; \
                bindings = <&bt BT_SEL DEVICE_IDX>, \
                        <&to LAYER>; \
        )


// TODO: Add a BT_DISC to disconnect from both iPhone and iPad 
// pass a disconnect command to the C macro
// mac and windows, disconnect both iphone and ipad
// iphone: disconnect ipad only
// ipad: disconnect iphone only

// Switch device macros
SWITCH_DEVICE_MACRO(Macbook, 0, l_alpha)
SWITCH_DEVICE_MACRO(iPad,    1, l_alpha)
SWITCH_DEVICE_MACRO(WinPC,   2, l_alpha_linwin)
SWITCH_DEVICE_MACRO(iPhone,  3, l_alpha)
