// Second param is ignored, so using XXX
#define hml_LCTRL_S  &hml_S LCTRL  XXX
#define hml_LALT_C   &hml_C LALT   XXX
#define hml_LGUI_N   &hml_N LGUI   XXX
#define hml_LSHIFT_T &hml_T LSHIFT XXX
#define hmr_LSHIFT_A &hmr_A LSHIFT XXX
#define hmr_LGUI_E   &hmr_E LGUI   XXX
// #define hmr_LALT_I   &hmr_I LALT   XXX

#define hml_LGUI_S   &hml_S LGUI   XXX
#define hml_LCTRL_N  &hml_N LCTRL  XXX
#define hmr_LCTRL_E  &hmr_E LCTRL  XXX


// Extra for RHODIUM
#define hml_LCTRL_C  &hml_C LCTRL  XXX
#define hml_LALT_S   &hml_S LALT   XXX
#define hmr_LCTRL_M  &hmr_M LCTRL  XXX

#define hml_LGUI_C   &hml_C LGUI   XXX
#define hmr_LGUI_M   &hmr_M LGUI   XXX



#define dotcol  &lk COLON DOT
#define comsemi &lk SEMI CMMA
#define sqtdqt  &lk DQT SQT
