                l_nav_linwin {
                        label = "><v^";
                        bindings = <

&kp A         &switchSpaceL ________    &switchSpaceR  &next                   &previous      &switchSpaceL  ________   &switchSpaceR  &next
&startLine    &kp LEFT      &kp UP      &kp RIGHT      &endLine                &startLine     &kp LEFT      &kp UP      &kp RIGHT      &endLine
________      leftWord      &kp DOWN    rightWord      ________                ________       leftWord      &kp DOWN    rightWord      ________
                                ________   ________   ________      ________   ________   ________
                        >;
                };