ZMK_MACRO(Qu,
        wait-ms = <10>;
        tap-ms = <10>;
        bindings = <&macro_tap &kp Q>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp RSHFT>
                , <&macro_tap &kp U>
                ;
)
ZMK_MACRO(logseqPageRef,
        wait-ms = <75>;
        tap-ms = <10>;
        bindings = 
        <&kp LEFT_BRACKET>,
        <&kp LEFT_BRACKET>;
)