/****************************************************/
/****                  Layers                    ****/
/****************************************************/
/* IMPORTANT NOTE

Max layer length is 32 (so max layer idx is 31). 


This is because the active layer is stored in a 'uint32_t' bit array. 
See: keymap.c::set_layer_state (92)

    WRITE_BIT(_zmk_keymap_layer_state, layer, state);

Here, `_zmk_keymap_layer_state` is the 'uint32_t' bit array.
 */
#define l_any          (-1)

#define l_alpha        0
#define l_alpha_linwin 1

#define l_akA          2
#define l_akB          3
#define l_akC          4
#define l_akD          5
#define l_akE          6
#define l_akF          7
#define l_akG          8
#define l_akH          9
#define l_akI          10
#define l_akJ          11
#define l_akK          12
#define l_akL          13
#define l_akM          14
#define l_akN          15
#define l_akO          16
#define l_akP          17
#define l_akS          18
#define l_akT          19
#define l_akU          20
#define l_akV          21
#define l_akW          22
#define l_akX          23
#define l_akY          24

#define l_nav          25
#define l_mod          26
#define l_fn           27
#define l_num          28
#define l_numsym       29
#define l_cfg          30

#define l_nav_linwin   31


#define l_alpha_aks l_alpha l_alpha_linwin l_akA l_akB l_akC l_akD l_akE l_akF l_akG l_akJ l_akK l_akL l_akM l_akN l_akO l_akP l_akS l_akT l_akU l_akV l_akW l_akX l_akY
#define l_all l_alpha_aks l_nav l_mod l_fn l_num l_numsym l_cfg l_nav_linwin
// Before this was: 'l_all_except_winpc', the idea was to exclude it from the combos, so it doesn't conflict
// with the generated combos for winpc, but ...
// ... it turns out 'l_winpc' was actually included in this list, and it was still working 🤷‍♂️
//
// So, for now, I'm just going to include all layers in the list and see if it works. Also, I'm including 'l_alpha_linwin' in 'l_alpha_aks'
// If not, I can always exlude the linwin layers later