/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
};

/ {
    behaviors {
        comma_capsword: comma_capsword {
            compatible = "zmk,behavior-tap-dance";
            label = "COMMA_CAPSWORD";
            #binding-cells = <0>;
            bindings =
                <&kp COMMA>,
                <&caps_word>;
        };
        dot_UNDERSCORE: dot_UNDERSCORE {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_UNDERSCORE";
            bindings =
                <&kp KP_DOT>,
                <&kp UNDERSCORE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&none  &kp B        &kp L       &kp D       &kp C        &kp V        &kp J       &kp Y        &kp O       &kp U       &comma_capsword  &none
&none  &mt LCTRL N  &mt LALT R  &mt LCMD T  &mt LSHFT S  &kp G        &kp P       &mt LSHFT H  &mt LCMD A  &mt LALT E  &mt LCTRL I      &none
&none  &kp X        &kp Q       &kp M       &kp W        &kp Z        &kp K       &kp F        &kp APOS    &kp SEMI    &dot_UNDERSCORE  &none
                                &kp TAB     &kp RET      &kp SPACE    &lt 1 BSPC  &kp ESC      &mo 2
            >;
        };

        Numbers {
            bindings = <
&trans  &trans           &kp KP_N7       &kp KP_N8       &kp KP_N9        &trans       &trans    &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &trans
&trans  &mt LCTRL LCTRL  &mt LALT KP_N4  &mt LCMD KP_N5  &mt LSHFT KP_N6  &trans       &kp LEFT  &kp UP             &kp DOWN         &kp RIGHT             &trans                &trans
&trans  &trans           &kp KP_N1       &kp KP_N2       &kp KP_N3        &trans       &trans    &trans             &trans           &trans                &trans                &trans
                                         &trans          &trans           &kp KP_N0    &trans    &trans             &trans
            >;

            label = "num";
        };

        lower_layer {
            bindings = <
&none  &kp N1             &kp N2            &kp N3             &kp N4        &kp N5          &kp N6    &kp N7     &kp N8   &kp N9     &kp N0  &none
&none  &bt BT_SEL 0       &bt BT_SEL 1      &bt BT_SEL 2       &bt BT_SEL 3  &bt BT_SEL 4    &kp LEFT  &kp DOWN   &kp UP   &kp RIGHT  &trans  &none
&none  &ext_power EP_TOG  &ext_power EP_ON  &ext_power EP_OFF  &trans        &trans          &trans    &trans     &trans   &trans     &trans  &trans
                                            &trans             &none         &kp LGUI        &trans    &kp SPACE  &kp RET
            >;
        };

        raise_layer {
            bindings = <
&none  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &none
&none  &trans    &trans  &trans    &trans    &trans       &kp MINUS  &kp EQUAL  &kp LBKT         &kp RBKT  &kp BSLH  &none
&none  &trans    &trans  &trans    &trans    &trans       &kp UNDER  &kp PLUS   &kp LBRC         &kp RBRC  &kp PIPE  &none
                         &kp LGUI  &trans    &kp SPACE    &kp RET    &trans     &kp RALT
            >;
        };
    };
};
