/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>

// #define _____  &trans

#include "./flo_config.h"
#include <dt-bindings/zmk/keys.h>

/ {
    chosen {
        zmk,matrix_transform = &five_column_transform;
    };

    #include "./flo_behaviors.dtsi"

    combos {
        compatible = "zmk,combos";

        Test1 {
            bindings = <&kp NUMBER_1>;
            key-positions = <10 11>;
            timeout-ms = <20>;
        };
        Test2 {
            bindings = <&kp NUMBER_2>;
            key-positions = <11 12>;
            timeout-ms = <20>;
        };
        Test3 {
            bindings = <&kp NUMBER_3>;
            key-positions = <12 13>;
            timeout-ms = <20>;
        };
        Test4 {
            bindings = <&kp NUMBER_4>;
            key-positions = <13 14>;
            timeout-ms = <20>;
        };
        Test5 {
            bindings = <&kp NUMBER_5>;
            key-positions = <0 1>;
            timeout-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Debug {
            bindings = <
  &kp A           &kp B              &kp C              &kp D                &kp E           &kp F       &kp G                &kp H              &kp I              &kp J
  &hml LCTRL K    &hml LEFT_ALT L    &hml LEFT_GUI M    &hml LEFT_SHIFT N    &kp O           &kp P       &hmr LEFT_SHIFT Q    &hmr LEFT_GUI R    &hmr LEFT_ALT S    &hmr LCTRL T
  &kp W           &kp X              &kp Y              &kp Z                &kp A           &kp B       &kp C                &kp D              &kp E              &kp F
                                     &kp TAB            &kp RET              &lt 10 SPACE    &lt 7 BSPC  &kp ESC              &mo 8
            >;

            label = "Debug";
        };
    };
};
