/************** H Digraphs REQUIRE macros (defined earlier) to process ***************/
COMBO_LAY_ONE_HAND(l_alpha_aks, sch,             &Sch,                              LM4 LM3 LM2                               ) // Sch
COMBO_LAY_ONE_HAND(l_alpha_aks, tch,             &Tch,                                  LM3 LM2 LM1                           ) // Tch
COMBO_LAY_ONE_HAND(l_alpha_aks, th,              &lk_th H T,                                LM2 LM1                           ) // Th/tion
COMBO_LAY_ONE_HAND(l_alpha_aks, ch,              &Ch,                                   LM3 LM2                               ) // Ch
COMBO_LAY_ONE_HAND(l_alpha_aks, wh,              &Wh,                                   LT3 LT2                               ) // Wh
COMBO_LAY_ONE_HAND(l_alpha_aks, sh,              &lk_sh H S,                        LM4 LM3                                   ) // Sh/sion
COMBO_LAY_ONE_HAND(l_alpha_aks, gh,              &lk_gh H G,                                LT2 LT1                           ) // Gh/ght
COMBO_LAY_ONE_HAND(l_alpha_aks, ph,              &Ph,                                   LB3 LB2                               ) // Ph
// Disabled to experiment with parenthesis combos
// COMBO_LAY_ONE_HAND(l_alpha_aks, oh,              &Oh,                                                         RB1 RB2         ) // Oh