ZMK_MACRO(typeEaccent,
        wait-ms = <10>;
        tap-ms = <10>;
        bindings = <&kp LA(E) &kp E>
                ;
)
ZMK_MACRO(typeEgrave,
        wait-ms = <10>;
        tap-ms = <10>;
        bindings = <&kp LA(GRAVE) &kp E>
                ;
)
ZMK_MACRO(typeEacute,
        wait-ms = <10>;
        tap-ms = <10>;
        bindings = <&kp LA(N6) &kp E>
                ;
)
ZMK_MACRO(typeOmacron,
        wait-ms = <10>;
        tap-ms = <10>;
        bindings = <&kp LA(A) &kp O>
                ;
)
ZMK_MACRO(typeAring,
        wait-ms = <10>;
        tap-ms = <10>;
        bindings = <&kp LA(K) &kp A>
                ;
)
ZMK_MACRO(typeUumlaut,
        wait-ms = <10>;
        tap-ms = <10>;
        bindings = <&kp LA(U) &kp U>
                ;
)
ZMK_MACRO(typeCedille,
        wait-ms = <10>;
        tap-ms = <10>;
        bindings = <&kp LA(C) &kp C>
                ;
)