/*********** TODO: Try and (maybe) integrate later **************/
// COMBO_LAY_ONE_HAND(l_alpha_aks, selword,         &m_selword,                        LB4             LB0                       )
// COMBO_LAY_ONE_HAND(l_alpha_aks, findsel,         &m_findsel,                        LM4                                       \
//                                                                                                     LB0                       )
